body {
    background-image: radial-gradient(circle,#D41B76 25%, #BD247C, #913586, #71418D, #574C94);
    display: flex;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.c-card {
    /* position: relative; */
    border: 3px solid #913586;
    border-radius: 25px;
    background-color: #d93b8a;
    height: 55vh;
    width:  50vw;
    margin: auto auto;
}

#c-form{
    display: block;
    border-radius: 25px;
    background-color: black;
    height: 100%;
    width: 100%;
}

#c-answer{
    display: none;
    border-radius: 25px;
    background-color: yellow;
    height: 100%;
    width: 100%;
}